.container {
    display: block;
}


.container .menu {
    position: fixed;
    top: 0;
    bottom: 0;
}

.container .hero-section {
    flex: 1;
    position: relative;
    margin-left: 260px;
    /* background-color: #12212f; */
}



#vision-and-purpose {
    padding-top: 80px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    background-color: #12212f;
}

#vision-and-purpose h2, .leadership-section h2 {
    color: #ffffff;
    font-size: 60px;
    margin: 0;
    letter-spacing: 6px;
}

#leadership-ceo-message {
    margin-top: 40px;
    width: 80%;
}
#leadership h2, #leadership-ceo-message {
    padding-left: 40px;
}


.leadership-section h2 {
    color: white;
}
.content-wrapper {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.content-wrapper > div { margin-top: 40px; }

.content-wrapper h3 {
    color: #ffffff;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
}

.content-wrapper p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 2em;
}


.leadership-section {
    padding-top: 80px;
    margin-right: 40px;
    padding-bottom: 40px;
}


.leadership-section-ceo-message {
    min-height: 80vh;
    padding-top: 46px;
}

.leadership-section h3 {
    color: white;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 2px;
}
#leadership-board-of-directors {
    padding-left: 40px;
    background-color: #12212f;
}
#leadership-board-of-directors h3, #leadership-board-of-directors p{
    color: #ffffff;
}

.leadership-section p {
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: normal;
    margin-top: 0.5em;
    padding-bottom: 2em;
}

.leadership-section-ceo-message p{
    width: 80%;
}

.ceo-name {
    color: #d2aa42;
}

.directors-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.director-wrapper {
    width: 300px;
    margin-right: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in;
}

.director {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.director > img {
    position: relative;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    height: 100%;
}

.name-and-position-wrapper {
    text-align: center;
    margin-top: 30px;
    min-height: 100px;
    padding: 0px 26px;
}
.name-and-position-wrapper span{
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
    line-height: 25px;
}

.name-and-position-wrapper .position {
    font-size: 14px !important;
    color: #ffffff;
    font-style: normal !important;
    letter-spacing: 0 !important;
}

.name-and-position-wrapper .position{
    font-style: italic;
}

.director-description {
    display: none;
}

.director-description p {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 14px;
}

.visible {
    display: block;
    width: 80%;
}

.selected-director {
    transform: scale(1.1);
}

.team-desc {
    margin-top: 80px;
}
.team-desc h3 {
    font-size: 23px;
}
.team-desc p {
    margin-top: 0.5em;
    padding-bottom: 0px !important;
    width: 80%;
}

.team-desc > div {
    margin-top: 40px; 
}
/* ---------------------RESPONSIVNESS-----------------------*/

@media screen and (max-width: 1280px) {}


@media screen and (max-width: 960px) {
    #vision-and-purpose {
        padding-top: 147px !important;
    }
    #vision-and-purpose h2, .leadership-section h2 {
        font-size: 46px;
        text-transform: uppercase;
    }
    .visible {
        width: 100%;
    }
    .container header {
        position: fixed;
        z-index: 100;
        width: 100%;
    }

    .content-wrapper {
        width: 100%;
    }
    #vision-and-purpose {
        padding-left: 20px;
    }
    #leadership-ceo-message {
        width: 100%;
    }
    #leadership h2, #leadership-ceo-message {
        padding-left: 20px;
        padding-right: 20px;
    }
    #leadership-board-of-directors {
        padding-left: 20px;
        padding-right: 20px;
    }
    .team-desc p {
        width: 100%;
    }
}

@media screen and (max-width: 935px) {
    .directors-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .director {
        height: 160px;
        width: 160px;
    }
    #vision-and-purpose, .leadership-section  {
        padding-top: 20px;
    }

    

    #vision-and-purpose h2, .leadership-section h2 {
        font-size: 26px;
    }

    .content-wrapper {
        margin-top: 20px;
    }

    .content-wrapper h3, .leadership-section h3 {
        font-size: 20px;
        margin-top: 0;
    }

    .content-wrapper p, .leadership-section-ceo-message p {
        font-size: 14px;
    }
    .leadership-section-ceo-message {
        padding-top: 20px;
    }
    .director-wrapper {
        margin-right: 0;
        margin-top: 20px;
    }

    .name-and-position-wrapper span {
        font-size: 16px;
    }

    .name-and-position-wrapper p.position {
        margin-bottom: 1em !important;
        font-size: 14px !important;
    }
    .visible {
        margin-top: 20px;
        width: 100%;
    }

    .content-wrapper p, .leadership-section-ceo-message p {
        padding-right: 20px;
    }
}

