.container {
  position: relative;
  min-height: 100vh;
}
.hero-section-contact {
  background-image: url("/images/contact.jpg") !important;
  background-position: 0px;
}
.inner-contact-section-wrapper {
  padding-bottom: 4rem;
}
.inner-contact-section {
  position: relative;
  height: 40vh;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.arabic-container .footer p {
  font-size: 20px;
  line-height: 24px;
}

.inner-contact-section h2 {
  color: #12212f;
  font-size: 60px;
  margin: 0;
  letter-spacing: 6px;
  text-transform: uppercase;
}

p {
  font-size: 26px;
  color: #12212f;
}

.form-wrapper {
  width: 50%;
  padding: 20px 0px 20px 20px;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.form-wrapper form input,
.form-wrapper form textarea {
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(18 33 47 / 13%);
  margin-bottom: 20px;
  color: #6d7783;
  font-size: 16px;
  letter-spacing: 1px;
}

.form-wrapper form textarea {
  margin-top: 20px;
  padding-top: 16px;
}

.form-wrapper form input:focus,
.form-wrapper form textarea:focus {
  outline: none;
}

.btn-submit {
  border: 1px solid rgb(18 33 47 / 13%) !important;
  width: 20%;
  margin-top: 30px;
  float: right;
  text-transform: uppercase;
  height: 40px !important;
  background: transparent !important;
  cursor: pointer;
  font-size: 14px !important;
  letter-spacing: 1px;
  font-family: "Verdana", serif;
}
.btn-submit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.contact-section-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.map-image-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-image-wrapper img {
  width: 100%;
}
.contact-information {
  display: flex;
  justify-content: space-between;
}
.address-text {
  font-size: 14px;
  color: #6d7783;
  letter-spacing: 1px;
  line-height: 30px;
}

.address-text a {
  color: #d29c01;
  text-decoration: none;
}

.location-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.location-wrapper span {
  font-size: 12px;
  color: #6d7783;
  letter-spacing: 1px;
  line-height: 24px;
  margin-right: 20px;
}

.location-wrapper a {
  color: #d29c01;
  text-decoration: none;
  margin-right: 20px;
}

.location-wrapper button,
.location-wrapper button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 5px;
}

.location-wrapper .fa {
  font-size: 16px;
  color: #6d7783;
}

/** share location modal **/

.share-location-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgb(0 0 0 / 62%);
  z-index: 1000;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.share-location-modal-overlay-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.share-location-modal {
  height: 300px;
  width: 500px;
  background-color: #f7f7f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.share-location-modal-arabic .modal-header,
.share-location-modal-arabic .modal-body{
padding-left: 0px;
padding-right: 40px;
}

.share-location-modal-arabic .modal-header h1 {
  font-size: 22px;
}

.share-location-modal-arabic .modal-body input {
  padding-left: 0px;
  padding-right: 10px;
}

.share-location-modal-arabic .modal-footer button:nth-child(2) {
  margin-right: 20px;
}

.location-wrapper-arabic .fa {
  margin-right: 20px;
}

.location-wrapper-arabic span {
  margin-right: 0px;
}

.share-location-modal-arabic .modal-footer {
  padding-left: 40px;
padding-right: 0px;
}
.modal-header {
  position: relative;
  height: 20%;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding-left: 40px;
}

.modal-header h1 {
  font-size: 16px;
  font-weight: normal;
  color: #d29c01;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal-body {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  padding-left: 40px;
  width: 100%;
  height: 60%;
}

.modal-body input {
  height: 40px;
  width: 80%;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  color: #6d7783;
}

.modal-body input:focus {
  outline: none;
}

.modal-body input:first-child {
  margin-bottom: 20px;
}

.modal-footer {
  position: relative;
  height: 20%;
  width: 100%;
  border-top: 1px solid #e1e1e1;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  padding-right: 40px;
  align-items: center;
}

.modal-footer button {
  border: 1px solid rgb(18 33 47 / 13%) !important;
  width: 20%;
  float: right;
  text-transform: uppercase;
  height: 34px !important;
  background: transparent !important;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Verdana", serif;
  color: #6d7783;
}

.modal-footer button:focus {
  outline: none;
}

.modal-footer button:first-child {
  margin-right: 20px;
}

.contact-tools {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.arabic-container .contact-tools {
  align-items: flex-end;
}

.contact-tools > div {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.contact-tools > div > .fa {
  color: #6d7783;
  font-size: 14px;
}

.contact-tools > div > span {
  color: #6d7783;
  letter-spacing: 1px;
  padding-left: 10px;
  font-size: 14px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6d7783;
  font-family: "Verdana", serif;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6d7783;
  font-family: "Verdana", serif;
  text-transform: uppercase;
  font-size: 12px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6d7783;
  font-family: "Verdana", serif;
  text-transform: uppercase;
  font-size: 12px;
}

@media screen and (max-width: 1500px) {
  .inner-contact-section {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (max-width: 1280px) {
  .inner-contact-section {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1366px) {

  .form-wrapper {
    width: 100%;
    padding: 0;
  }

  .form-wrapper form input,
  .form-wrapper form textarea {
    height: 40px;
  }
  .form-wrapper form textarea {
    margin-top: 0px;
  }
  ::placeholder {
    font-size: 12px;
  }

  :-ms-input-placeholder {
    font-size: 12px;
  }

  ::-ms-input-placeholder {
    font-size: 12px;
  }
}

@media screen and (max-width: 960px) {
  .inner-contact-section {
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
  }
  .contact-section-wrapper {
    position: relative;
    height: 50%;
    width: 80%;

  }

  .map-image-wrapper {
    position: relative;
    height: 50%;
    width: 100%;
  }
  .map-image-wrapper img {
    width: 80%;
    height: 100%;
    object-fit: contain;
  }
  .btn-submit-wrapper {
    align-items: center;
  }
  .inner-contact-section h2 {
    font-size: 46px;
    margin-top: 40px;
  }

  .btn-submit {
    width: 100%;
  }

}

@media screen and (max-width: 572px) {
  .inner-contact-section {
    padding-left: 0px;
    padding-right: 0px;
    height: 80vh;
  }
  .form-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact-information {
    flex-direction: column;
    align-items: flex-end;
  }
  .share-location-modal  {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .form-wrapper form input,
  .form-wrapper form textarea {
    height: 40px;
  }

  .arabic-container .contact-section-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .address-text {
    font-size: 12px;
  }

  .contact-tools {
    font-size: 12px;
  }

  ::placeholder {
    font-size: 12px;
  }

  :-ms-input-placeholder {
    font-size: 12px;
  }

  ::-ms-input-placeholder {
    font-size: 12px;
  }
  .btn-submit {
    font-size: 12px !important;
  }
  .contact-tools > div > span {
    font-size: 12px;
  }
  .share-location-modal  {
    width: 300px;
  }
  .modal-header, .modal-body, .modal-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal-header h1 {
    font-size: 14px;
  }
  .modal-body input {
    width: 100%;
  }
  .modal-footer button {
    font-size: 10px;
  }
}

/************************ARABIC VERSION******************************/
.arabic-container .address-text {
  font-size: 22px;
}

.arabic-container .contact-tools > div > span {
  font-size: 22px;
}

@media screen and (max-width: 572px) {
  .arabic-container .contact-information {
    align-items: inherit;
  }
}
