.hero-section-contact {
    flex: 1;
    background-image: url(/images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: 260px;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;

}


.inner-contact-section {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 80px 40px;
}

.inner-contact-section h2 {

    color: #ffffff;
    font-size: 60px;
    margin: 0;
    letter-spacing: 6px;
    text-transform: uppercase;
}

p {
    font-size: 26px;
    color: white;
}

.form-wrapper {
    width: 30%;
    margin-left: 60px;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
}

.form-wrapper form input, .form-wrapper form textarea {
    height: 60px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}

.form-wrapper form textarea {
    margin-top: 20px;
    padding-top: 16px;
}

.form-wrapper form input:focus, .form-wrapper form textarea:focus {
    outline: none;
}

.btn-submit {
    border: 1px solid #ffffff !important;
    width: 20%;
    margin-top: 30px;
    float: right;
    text-transform: uppercase;
    height: 40px !important;
    background: transparent !important;
    cursor: pointer;
    font-size: 14px !important;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Verdana', serif;
}
.btn-submit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.contact-section-wrapper {
    display: flex;
    align-items: flex-start;
}

.map-wrapper {
    position: relative;
    width: 50%;
    margin-top: 60px;
}

.map-wrapper img {
    position: relative;
    width: 90%;
}
.address-text {
font-size: 16px;
margin-top: 30px;
letter-spacing: 1px;
line-height: 26px;
}

.address-text a {
    color: #d29c01;
    text-decoration: none;
}

.contact-tools {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contact-tools > div {
    display: flex;
    margin-top: 10px;
}

.contact-tools > div > .fa {
    color: #ffffff;
}

.contact-tools > div > span {
    color: #ffffff;
    letter-spacing: 1px;
    padding-left: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    font-family: 'Verdana', serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
    font-family: 'Verdana', serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
    font-family: 'Verdana', serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .container .menu {
    position: fixed;
    top: 0;
    bottom: 0;
}
  @media screen and (max-width: 1280px) {
    .contact-section-wrapper {
        flex-direction: column-reverse;
    align-items: flex-start;
    }

    .map-wrapper {
        width: 100%;
        margin-bottom: 80px;
    }

    .form-wrapper {
        width: 90%;
    margin-left: 0;
    margin-top: 50px;
    }
  }


@media screen and (max-width: 960px) {
    .inner-contact-section {
        padding-top: 130px;
    }

    .btn-submit-wrapper {
        align-items: center;
    }

    .hero-section-contact {
        margin-left: 0px;
    }

    .inner-contact-section h2 {
        font-size: 46px;
    margin-top: 40px;
    }

    .btn-submit {
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    .form-wrapper {
        width: 100%;
        margin-top: 20px;
    }

    .map-wrapper img {
        width: 100%;
    }

    .map-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .inner-contact-section {
        padding: 100px 20px;
    }

    .address-text {
        font-size: 14px;
    }

    .contact-tools {
        font-size: 14px;   
    }
}
