@font-face {
  font-family: "Verdana";
  src: url("/css/fonts/verdana/verdana-webfont.eot");
  src: url("/css/fonts/verdana/verdana-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/css/fonts/verdana/verdana-webfont.woff2") format("woff2"),
    url("/css/fonts/verdana/verdana-webfont.woff") format("woff"),
    url("/css/fonts/verdana/verdana-webfont.ttf") format("truetype"),
    url("/css/fonts/verdana/verdana-webfont.svg#verdanaregular") format("svg");
  font-weight: normal;
  font-style: normal;
  background-color: #12212f;
}

@font-face {
  font-family: "lateef";
  src: URL("/css/fonts/lateef/LateefRegOT.ttf") format("truetype");
}

@font-face {
  font-family: "myriad-arabic";
  src: URL("/css/fonts/myriad-arabic/Myriad-Arabic-Regular.ttf")
    format("truetype");
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Verdana", serif;
  background-color: #f7f7f7;
}

.body-with-opened-modal {
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------MENU---------------------------------- */

.container .menu {
  height: 140;
  background-color: #f7f7f7;
  display: flex;
  padding: 20px 140px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
}

.arabic-container .menu {
  flex-direction: row-reverse;
}

.logo-wrapper {
  position: relative;
  width: 20%;
}

.arabic-container .logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo-wrapper img {
  width: 100px;
}

.menu-list-wrapper {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 100px 20px 0px;
}

.menu-list-wrapper ul.menu-list {
  list-style: none;
  display: flex;
}

.menu-list-wrapper ul.menu-list li.menu-list-item {
  margin-right: 20px;
}

.menu-list-wrapper ul.menu-list li.menu-list-item a,
.menu-list-wrapper ul.menu-list li.menu-list-item span {
  text-decoration: none;
  font-size: 14px;
  color: #6d7783;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.selected-menu-list-item a,
.selected-menu-list-item span {
  color: #d29c01 !important;
  font-weight: bold;
  border-bottom: 2px solid #d29c01;
  padding-bottom: 2px;
}
.underlined {
  border-bottom: 2px solid #d29c01;
  padding-bottom: 4px;
}

#sub-menu-list-about {
  height: 0;
  opacity: 0;
  position: absolute;
  background-color: #f7f7f7;
  z-index: 100;
  padding: 10px 10px !important;
  margin-top: 13px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px -4px #828282;
  box-shadow: 5px 5px 15px -4px #828282;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.isVisible {
  height: 170 !important;
  opacity: 1 !important;
  margin-top: 4px;
}
.sub-menu-list-item {
  margin-top: 20px;
}

.sub-menu-list li:first-child {
  margin-top: 0px;
}

#sub-menu-list-about a {
  font-size: 12px;
  color: #12212f;
}

.select-language-wrapper {
  position: relative;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.select-language-wrapper img {
  width: 20px;
  margin-right: 10px;
  margin-top: 6px;
}

.select-language-wrapper a {
  color: #6d7783;
  font-size: 20px;
  text-decoration: none;
}

.select-arabic-language-wrapper a {
  color: #6d7783 !important;
  font-size: 16px !important;
}

#menu-item-about ul#sub-menu-list-about,
#menu-item-about-for-mobile ul#sub-menu-list-about-for-mobile {
  list-style: none;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0;
}

#sub-menu-list-about-for-mobile a {
  color: #828282;
  font-size: 12px;
}

#sub-menu-list-about-for-mobile a:hover {
  color: #d29c01;
}
.isVisibleInMobile {
  height: 140px !important;
  margin-top: 4px;
}

.larger {
  height: 110px !important;
}

.larger-mobile {
  height: 130px !important;
}

#menu-item-about .sub-menu-list-item > a:hover {
  color: #d29c01;
}

#menu-item-leadership ul,
#menu-item-leadership-for-mobile ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

#menu-item-leadership .sub-menu-list-item > a:hover {
  color: #d29c01;
}

.menu-bottom {
  text-align: center;
}

.arabic-container .menu-bottom p {
  line-height: 16px;
  padding: 0 16px;
  color: #12212f;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}

/* --------------------------------HERO SECTION----------------------------------- */
.container {
  background-color: #f7f7f7;
}
.container .hero-section {
  position: relative;
  height: 60vh;
  background-image: url(/images/homepage1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 140px;
}

.home-hero-section h1 {
  margin-bottom: 120px;
}

.container .hero-section > img {
  position: relative;
  height: 100%;
  width: 100%;
}

.container .hero-section h1 {
  font-size: 60px;
  font-weight: normal;
  color: #a27a01;
  padding-left: 140px;
}

.globe-icon {
  width: 50px;
}
.custom-card {
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.custom-card p {
  font-size: 14px;
  color: #12212f;
  letter-spacing: 1px;
  line-height: 24px;
  margin-top: 26px;
}

.area-with-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0 0 0 / 62%);
}

.area-with-text-content {
  width: 80%;
}

.header-mobile {
  display: none;
}

.vision-page .area-with-text-overlay {
  padding: 0;
  width: 100%;
}

.vision-page .inner-area-with-text-overlay {
  position: relative;
  width: 70%;
  padding-left: 90px;
}

.container .hero-section.vision-page .website-title h1 {
  text-transform: uppercase;
  font-size: 80px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.container .hero-section.vision-page .custom-card p {
  margin-top: 56px;
  line-height: 26px;
}

.footer {
  padding: 40px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(18 33 47 / 13%);
}

.footer p {
  text-align: center;
  color: #6d7783;
  font-size: 14px;
  line-height: 24px;
}

.icon-scroll {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  bottom: 50px;
  cursor: pointer;
  width: 30px;
  height: 50px;
  margin-top: -35px;
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #ffffff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.back-to-top-btn {
  position: absolute;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.back-to-top-btn .fa {
  color: white;
  font-size: 30px;
}

/*******************************HUMBURGER//*********************************/
.hamburger {
  margin: 0;
  padding: 0;
  float: left;
  transition: opacity 0.3s;
}

.hamburger:hover {
  cursor: pointer;
  opacity: 0.8;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  background: #12212f;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

/* .container header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #12212f;
} */

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  flex-direction: row;
  padding: 10px 40px;
  background-color: #f7f7f7;
  height: 100px;
}

.header-mobile-left {
  position: relative;
  width: 33.33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-mobile-center {
  position: relative;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-mobile-right {
  position: relative;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hamburger.isMenuActive {
  z-index: 300;
}

.hamburger.isMenuActive .line:nth-child(2) {
  opacity: 0;
}

.hamburger.isMenuActive .line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.hamburger.isMenuActive .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-menu-overlay {
  background-color: #f7f7f7;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: none;
  overflow-y: hidden;
}
.mobile-menu-overlay.isMenuOverlayActive {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.inner-mobile-menu-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-overlay .select-language-wrapper {
  justify-content: center;
  width: auto;
}

.inner-mobile-menu-overlay li {
  padding: 6px 0;
  font-size: 16px;
  margin-top: 4px;
}

.inner-mobile-menu-overlay li a,
.inner-mobile-menu-overlay li span {
  text-decoration: none;
  font-size: 14px;
  color: #12212f;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.inner-mobile-menu-overlay li a:hover,
.inner-mobile-menu-overlay li span:hover {
  color: #d29c01;
}

/****************************************************************/

/* ---------------------RESPONSIVNESS-----------------------*/
@media screen and (max-width: 1280px) {
  .container .menu {
    padding: 20px 100px;
  }
  .container .hero-section h1 {
    padding-left: 100px;
  }
  .custom-card {
    padding-left: 100px;
    padding-right: 100px;
  }
  .area-with-text-overlay {
    width: 100%;
    padding: 0;
  }

  .area-with-text-content {
    width: 100%;
    margin-top: 0px;
  }
  .container .hero-section > img {
    object-fit: cover;
  }
}

@media screen and (max-width: 960px) {
  .container .hero-section {
    margin-top: 0px;
  }
  .custom-card {
    margin-bottom: 20px;
  }
  .container .hero-section {
    height: 40vh;
  }
  .container .hero-section h1 {
    font-size: 40px;
  }
  .custom-card {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .container .hero-section h1 {
    padding-left: 40px;
  }
  .container .menu {
    display: none;
  }

  .hero-section-wrapper {
    margin-top: 100px;
  }
  .footer {
    padding: 20px;
  }
  .container .hero-section {
    margin-left: 0px !important;
  }
  .container {
    flex-direction: column;
  }

  .area-with-text-content {
    margin-top: 20px;
  }
  .header-mobile {
    display: flex;
  }

  .container .hero-section .website-title {
    padding-top: 130px;
  }
  .custom-card {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .menu-bottom p {
    font-size: 12px;
    color: #12212f;
  }
  .arabic-container .menu-bottom p {
    font-size: 18px;
  }
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: fixed;
  width: 180px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #12212f;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#menu {
  margin: -77px 0 0 -20px !important;
}
#menu {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
}

.container header img {
  width: 70px;
}

.container .hero-section > img {
  position: relative;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.area-with-text-overlay {
  height: 100%;
}

/******************MENU HUMBURGER*********************/
#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #e7e7e7;
  transition: color 0.3s ease;
}

#menuToggle .sub-menu-list-item a {
  font-size: 14px;
}

#menuToggle a:hover {
  color: #d29c01;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #d2aa42;

  border-radius: 0px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-top ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

.menu-bottom {
  text-align: center;
  position: relative;
  bottom: 20px;
}

.arabic-container .menu-bottom p {
  color: #12212f;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .container .hero-section {
    background-position: center;
  }
  .container .hero-section h1 {
    font-size: 30px;
  }
  .container .hero-section .website-title {
    padding-top: 20px;
    padding-left: 20px;
  }
  .container .hero-section .website-title h1 {
    font-size: 44px;
  }

  .custom-card {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .header-mobile {
    padding: 10px 20px;
  }
  .custom-card {
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .area-with-text-content {
    margin-top: 160px;
  }
  .container .hero-section {
    height: 28vh;
  }
  .container .hero-section .website-title {
    padding: 0;
    padding-left: 0 !important;
    padding-top: 0 !important;
  }
  .container .hero-section .website-title h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 14px;
  }

  .arabic-container .menu-bottom p {
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }

  .custom-card {
    margin-top: 20px;
  }

  .custom-card p {
    margin-top: 14px !important;
  }

  .container .hero-section {
    height: 30vh;
  }

  .footer {
    padding: 12px;
  }
  .footer p {
    font-size: 10px;
    line-height: 20px;
  }
}

/* ---------------------ANIMATION SHINE---------------------- */
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

@-moz-keyframes scroll {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}

/*******************ARABIC STYLE**********************/

.arabic-container {
  font-family: "myriad-arabic", sans-serif;
}

.arabic-container .custom-card p {
  font-size: 26px;
  line-height: 36px;
}

.arabic-menu-list-wrapper {
  align-items: flex-start;
  padding: 0px;
}
.arabic-menu-list-wrapper ul.menu-list li.menu-list-item {
  margin-right: 20px;
  margin-left: 20px;
}

.arabic-menu-list-wrapper #sub-menu-list-about a {
  font-size: 20px;
}
.arabic-menu-list-wrapper ul.menu-list li.menu-list-item a,
.arabic-menu-list-wrapper ul.menu-list li.menu-list-item span {
  font-size: 26px;
}

.select-english-lang-wrapper img {
  margin-top: 0px;
}

.select-english-lang-wrapper a {
  font-size: 24px;
}

.select-language-wrapper {
  justify-content: flex-end;
}

.arabic-container .hero-section h1 {
  padding-right: 200px;
  padding-left: 0px;
  font-size: 100px;
}
.arabic-mobile-menu-overlay .inner-mobile-menu-overlay {
  padding-top: 146px;
}
.arabic-mobile-menu-overlay .inner-mobile-menu-overlay li a,
.arabic-mobile-menu-overlay .inner-mobile-menu-overlay li span {
  font-size: 24px;
}

.arabic-mobile-menu-overlay #sub-menu-list-about-for-mobile a {
  font-size: 19px;
}
@media screen and (max-width: 1500px) {
  .arabic-container .hero-section h1 {
    padding-right: 200px;
    padding-left: 0px;
  }
  .arabic-menu-list-wrapper ul.menu-list li.menu-list-item a,
  .arabic-menu-list-wrapper ul.menu-list li.menu-list-item span {
    font-size: 22px;
  }
  .arabic-container .custom-card p {
    font-size: 22px;
  }
}

@media screen and (max-width: 1280px) {
  .arabic-menu-list-wrapper ul.menu-list li.menu-list-item a,
  .arabic-menu-list-wrapper ul.menu-list li.menu-list-item span {
    font-size: 20px;
  }
  .arabic-container .custom-card p {
    font-size: 20px;
  }
  .arabic-container .logo-wrapper img {
    width: 80px;
  }
  .select-english-lang-wrapper a {
    font-size: 20px;
  }
  .arabic-container .hero-section h1 {
    padding-right: 100px;
    font-size: 80px;
  }
}

@media screen and (max-width: 1015px) {
  .arabic-menu-list-wrapper ul.menu-list li.menu-list-item a,
  .arabic-menu-list-wrapper ul.menu-list li.menu-list-item span {
    font-size: 17px;
  }
  .arabic-container .custom-card p {
    font-size: 17px;
  }
}

@media screen and (max-width: 980px) {
  .arabic-mobile-menu-overlay
    .inner-mobile-menu-overlay
    li.select-english-lang-wrapper
    a {
    font-size: 18px;
    padding-top: 3px;
    color: #6d7783;
  }
}

@media screen and (max-width: 960px) {
  .arabic-container .hero-section h1 {
    padding-right: 40px;
  }
}

@media screen and (max-width: 572px) {
  .arabic-container .hero-section h1 {
    padding-right: 40px;
  }
}

@media screen and (max-width: 480px) {
  .arabic-container .custom-card p {
    line-height: 30px;
  }
  .arabic-container .hero-section h1 {
    padding-right: 20px;
    font-size: 70px;
  }
}


.animate__animated.animate__fadeIn{
  --animate-duration: 500ms;
}
